@tailwind base;
  @tailwind components;
  @tailwind utilities;



  .icon-container div {
    padding: 10px 12px;
    background-color: #d4d4d4;
    border-radius: 10px;
    cursor: pointer;
  }
  .footer-section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }